.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  .leaflet-tile-pane img {
    filter: grayscale(1) opacity(0.3);
  }

  &-popup {
    &-info {
      margin-bottom: -10px;
    }
  }
}

.info {
  padding: 1rem;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0 0 5px;
    color: #777;
  }
}

.legend {
  text-align: left !important;
  line-height: 18px;
  color: #555;

  i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}