.map-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .leaflet-tile-pane img {
    filter: grayscale(1) opacity(0.3);

  }

  &-popup {
    &-heading {
      // margin-bottom: 1rem;
    }

    &-info {
      margin-bottom: -10px;
    }
  }
}